<!DOCTYPE html>
<html>
  <head>
    <title>InfluenceOffers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>


    <%= javascript_pack_tag 'discover-bundle' %>
    <%= stylesheet_pack_tag 'hello-world-bundle' %>    
  </head>

  <body>
    <header>
      <div class="title">
        <a href="/">Influence Offers</a>
      </div>
      <div class="session-buttons">
        <% if player_signed_in? %>
          <%= button_to "Sign Out", destroy_player_session_path, method: :delete  %>
        <% end %>        
      </div>
    </header>
    <% flash.each do |type, msg| %>
      <div id='flash-container'>
        <p class="<%= type%> flash-msg"><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
