<!DOCTYPE html>
<html>
  <head>
    <title>InfluenceOffers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag 'discover-bundle' %>
   
  </head>

  <body>
    <header>
      <div class="title">
        <a href="/">Influence <span class="orange-text">Offers</span></a>
      </div>
      <div class="session-buttons">
        <% if player_signed_in? %>
          <%= button_to "SIGN OUT", destroy_player_session_path, method: :delete, class: "sign-out"  %>
        <% else %>
        <%- if controller_name != 'sessions' %>
          <%= button_to "SIGN IN", new_player_session_path, method: :get, class: "sign-in" %>
        <% end %>
        <% end %>        
      </div>
    </header>
    <% flash.each do |type, msg| %>
      <div id='flash-container'>
        <p class="<%= type%> flash-msg"><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
